body,
u u>*>a,
u u>*>b,
u u>*>i,
.o {
	/* font-family: sans-serif; */
	background-color: #f5f5f5;
	vertical-align: top;
	margin: 0 auto;
}
body {
	background-color: #eee;
}
u u {
	width: 100%;
}
u * {
	text-align: center;
}
u u>*>*:first-child:not(:last-child) {
	text-align: right;
}
u u>*>*:last-child:not(:first-child) {
	text-align: left;
}
u, s, b, i {
	text-decoration: none;
	font-style: normal;
}
u {
	display: table;
	border-collapse: separate;
	border-spacing: 0.125em;
}
s, form {
	display: table-row;
}
a, i, del, button {
	display: table-cell;
	width: 100%;
}
a, b, i, del, button {
	/* background-color: #ccc; */
	/* border: 0.5em solid #aaa; */
	/* border-radius: 0.5em; */
	border: none;
	white-space: nowrap;
	padding: 0.5em;
}
a, b, del, button {
	/* background-color: #eee; */
	border-color: #888;
}
a, button {
	cursor: pointer;
	color: #4988ba;
}
a:visited {
	color: #576ca3;
}
a:hover, button:hover {
	background-color: #fffeaa;
	border-color: #d9cf8f;
	color: #d59980;
}
.explain {
	display: inline;
	padding: 0;
	background-color: inherit;
}
.toggle, b {
	position: relative;
	display: block;
	width: auto;
}
.toggle::before {
	position: absolute;
	display: inline-block;
	top: 0.5em;
	left: 0.5em;
	border: 0.0625em solid currentColor;
	padding: 0;
	margin-right: 0.5em;
	width: 1.25em;
	height: 1.25em;
	line-height: 1.25em;
	font-size: 1.125em;
	font-family: monospace;
	vertical-align: middle;
	content: "+";
}
.toggle::after {
	content: ".";
}
.toggle.open::after {
	content: ":";
}
.toggle.open::before {
	content: "-";
}
.toggle:not(.open)+* {
	display: none;
}
b+b {
	margin-top: 0.25em;
}
.e {
	background-color: #fb5b00;
	border-color: #ff9898;
	color: #ffdf3d;
}
.gray {
	background-color: #ddd;
	border-color: #999;
	color: #666;
}
.purple {
	background-color: #dfd6ff;
	border-color: #a19dde;
	color: #747386;
}
.orange {
	background-color: #fbe0a0;
	border-color: #dabd8d;
	color: #a17c5d;
}
.red {
	background-color: #f4e1ea;
	border-color: #e8b9ce;
	color: #b54879;
}
.green {
	background-color: #e2f7e1;
	border-color: #aeedaa;
	color: #50a16b;
}
.blue {
	background-color: #e0eef8;
	border-color: #ace;
	color: #4988ba;
}
.col-width u>*>*:not(form):not(img):not(small) {
	/* min-width: 256px; */
}
.col-width u>*>*:not(form):not(img):not(small):first-child {
	/* min-width: 93px; */
	width: 50%;
}
.col-width u>*>*:not(form):not(img):not(small):last-child {
	/* min-width: 245px; */
}
.col-width.drawpile u>*>*:not(form):not(img):not(small):last-child {
	/* min-width: 174px; */
	min-width: 50%;
}
.o:not(.toggle) {
	display: block;
	vertical-align: middle;
	width: 12.5em;
	height: 12.5em;
	line-height: 12.5em;
	border-radius: 12.5em;
	background-position: center;
	background-repeat: no-repeat;
}
.o:not(.box):not(.toggle) {
	background-size: cover;
}
.o.box {
	width: 6.25em;
	height: 6.25em;
	line-height: 6.25em;
	border-radius: 6.25em;
	background-size: 6.25em;
	background-image: url(box.png);
}
.e403 {	background-image: url(i/49c66d4d10bf4a798dc05ef55600f96c.png);}
.e404 {	background-image: url(i/be708058f14755dabed5a608568d0977.png);}
