body {
	/* font-family: sans-serif; */
	background-color: #eee;
}
table {
	border: none;
	border-spacing: 0.125em;
}
.outside>table {
	width: 100%;
	height: 100%;
}
.outside td {
	text-align: center;
}
.inside h3 {
	text-align: left;
}
.inside h3 div,
.inside h3 button {
	float: right;
}
.inside, div.media-row-images {
	display: inline-block;
}
.inside>table {
	width: 100%;
}
.inside>table.media-rows-table {
	width: calc(100vw - 1em);
}
.inside th, td {
	padding: 0.25em;
}
.inside th,
.inside thead td,
.inside tfoot td {
	background-color: #ccc;
}
.inside td {
	background-color: #f5f5f5;
	text-align: left;
}
.inside .media-row-info td {
	background-color: #fff;
}
.inside .sub-list-row td {
	background-color: #f3f4f5;
}
.inside .simple-rows-table tr:hover td,
.inside .sub-list-row:hover td {
	background-color: #fffaec;
}
.inside .links-chain {
	display: inline-block;
	background-color: #ddd;
}
.inside .links-chain:not(:last-child) {
	margin-right: 1em;
}
.inside a {
	display: inline-block;
	color: #4988ba;
}
.inside a:visited {
	color: #576ca3;
}
.inside a,
.inside th a {
	padding: 0.25em;
}
.inside h3 a {
	padding: 0.25em 0.5em;
}
.inside th a,
.inside td a {
	margin: -0.25em 0;
}
.inside .media-row[id] th a,
.inside .simple-rows-table td a,
.inside .sub-list-row a {
	display: block;
	margin: -0.25em;
}
.inside a.media-row-img {
	padding: 0.25em;
	margin: -0.25em;
	border: 0.25em solid transparent;
}
.inside a.media-row-img:hover {
	position: relative;
	z-index: 1;
}
.inside a:hover {
	background-color: #fffeaa;
	border-color: #f4b7a1;
	color: #d59980;
}
.inside h3 button {
	margin-left: 1em;
}
.media-row:target,
.media-row:target th a:not(:hover) {
	background-color: #ace;
}
.media-rows-table {
	border-spacing: 1em;
	margin: -1em;
}
.media-rows-table .media-row,
.media-rows-table .media-row-info {
	background-color: #fafafa;
}
.media-rows-table tr,
.media-rows-table th,
.media-rows-table td,
.media-rows-table img,
.media-row {
	text-align: left;
	vertical-align: top;
}
.media-row-info tr>*:nth-child(2n),
.media-row-info tr.sub-list-row > td:not(:first-child) {
	text-align: right;
}
.simple-rows-table th,
.simple-rows-table td:not(:first-child),
.media-row-info tr>*,
.media-row-header-inside {
	white-space: nowrap;
}
.media-row-info,
.media-row-header-inside {
	float: left;
}
.media-row-value-inside {
	float: right;
}
.inside.media-rows-separated .simple-row,
.inside:not(.media-rows-separated) .media-rows-table,
.inside:not(.media-row-img-newlines) .media-row-images br,
.loading body>* {
	display: none;
}